@tailwind base;
@tailwind components;
@tailwind utilities;

.bar{
    background-color: #008080;
    color: #ffa07a;
}

.intro{
    background-color: #ffa07a;
}
.title{
    background-color: #80513e;
    color: #ff7f50;
}

.summary{
    background-color: #ffa07a;
    display: flex;
}

.photos{
    background-color: #ffa07a;
}

.testimonial {
    background-color: #ffa07a;

}

.meetup {
    background-color: #ffa07a;
}